/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body {
    background-color: #9F7EC4;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.back-pic{
  position: fixed;
  width: 600px;
  height: 600px;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  transform: translate(90%, 18%);
}
.back-pic picture img{
  opacity: 75%;
}


@media only screen and (max-width: 768px) {
    .sidebar {
      margin-left: -200px;
    }
    section.md-body{
      position: relative;
      color: #100f16;
      height: 100%; 
      width: 165%;   
      padding: 10%; 
      top: -20%;
      overflow-x: hidden;
      overflow-y: auto;
      transform: translateY(-5%);
      background-color: #9F7EC4; 
    }
    .md-body pre {
      width: 104% !important;
      margin: 0;
    }
    .mk-body pre code{
      padding: 5%;
      font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    }
    .md-body pre  code.language\/javascript{
      overflow: hidden;
      overflow-x: scroll;
    }
    .sidebar ul li .sub-menu li a{
      pointer-events: none;
    }
    .sidebar ul li .sub-menu li a:hover{
      background-color: #100f16;
    }
    .sidebar ul li a{
      color: #100f16;
    }
    
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100% !important;
  width: 240px !important;
  background: #100f16;
  padding: 6px 14px;
}
.sidebar .logo_content .logo{
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}
.logo_content .logo .title{
  font-size: 20px;
  font-weight: 400;
}

.sidebar ul{
  margin-top: 20px;
}
.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}
.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
}
.sidebar ul li a:hover{
  color: #100f16;
  background: #fff;
}
.sidebar ul li a i{
  height: 50px;
  min-width: 30px;
  border-radius: 12px;
  line-height: 50px;
  size: 50;
  font-size: 40px;
}
.sidebar ul li a i2{
  height: 50px;
  min-width: 30px;
  border-radius: 12px;
  line-height: 50px;
  size: 50;
  font-size: 25px;
}
.sidebar ul li ul{
    padding: 6px 6px 12px 40px;
    margin-top: -10px;
    align-items: center;
}
.sidebar ul li .sub-menu li a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  transition: all 0.4s ease;
  border-radius: 12px;
}
.sidebar ul li .sub-menu li a:hover{
  color: #100f16;
  background: #fff;
  width: 70%;
}
.sidebar .logo_content .logo #btn {
  position: absolute;
  color: #fff;
  left: 85%;
  top: 6px;
  font-size: 25px;
  height: 50px;
  width: 20px;
  text-align: center;
  line-height: 50px;
}
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
.wrapper {
  display: flex;
  width: 100%;
}
::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background-color: #100f16;
  height: 12px;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 2px;
  background-color: #1b1a22;
}
::-webkit-scrollbar{
  width: 2px;
}
::-webkit-scrollbar-track{
  background-color: #936abe;
}

/* THE MAIN BLOG */

.md-body{
    position: relative;
    left: 250px;
    bottom: 150px;
    color: #100f16;
    height: 100%;
    width: 550%;   
    padding: 10%;  
    transform: translateY(-5%);
    overflow-x: hidden;
    overflow-y: auto;
  }
.md-body a{
  text-decoration: none;
}
.md-body a:visited{
  color: #3944e7;
}
.md-body a:link{
  color: #3944e7;
}
.md-body a:hover{
  color: hotpink;
}
.md-body h1, h2, h3, h4, h5 {
  padding-top: 20px;
  margin-top: -20px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.md-body h1 {
  font-size: 2em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #100f16;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  box-sizing: border-box;
  font-size: 20;
}
.md-body h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  border-bottom: 1px solid #100f16;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-decoration: dashed;
  pointer-events: none;
}
.md-body p{
  color: #100f16;
  font-weight: 500;
}
.md-body code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  border-radius: 3px;
  color: #100f16;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;

}
 .md-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  width: 70%;
  line-height: 1.45;
  background-color: #282c34;
  border-radius: 3px;
  right: 50px;
  border-radius: 15px;
}
.mk-body pre code {
  display: inline;
  max-width: 50px;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 12px;
}
.mk-body pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: 0 0;
}
.md-body pre  code.javascript{
  margin-left: -10px;
  padding: 0%;
  transform: translateX(-100%);
}
